<h1>ExpressJS+Redis+Upstash</h1>

<ul>
  <li>Visit from-northpole/6000, from-northpole/10000 etc to see the cities from 6000/10000 km from the North Pole.</li>
  <li>Visit /location to see your location in longitude and latitude.</li>
  <li>Visit /nearby-cities/1000 to see nearby cities 1000 km from your location.
  </li>
  <li>Visit /around/-74/40/1000 to see the cities 1000 km from longitude -74 and latitude 40 (around NY city).</li>
</ul>